<h1 class="text-2xl font-bold mb-4">Books</h1>
<div class="overflow-x-auto">
  <table class="table-auto border-collapse border border-gray-400">
    <thead>
    <tr class="bg-gray-100">
      <th class="py-2 px-4 border border-gray-400">Title</th>
      <th class="py-2 px-4 border border-gray-400">Author</th>
      <th class="py-2 px-4 border border-gray-400">Year</th>
      <th class="py-2 px-4 border border-gray-400">ISBN</th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="py-2 px-4 border border-gray-400"><%= book.title %></td>
        <td class="py-2 px-4 border border-gray-400"><%= book.author %></td>
        <td class="py-2 px-4 border border-gray-400"><%= book.publication_date %></td>
        <td class="py-2 px-4 border border-gray-400"><%= book.isbn %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%#= debug @books %>
